body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #212122; /* Main background color */
    color: #fff; /* Text color */
}

.header {
    background-color: #212122;
    text-align: center;
    height: 7%;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center; /* Center align text and logo */
}

.logo {
    width: 50px; /* Adjust the width of the logo as needed */
    height: 50px; /* Make the logo round */
    border-radius: 50%; /* Make the logo round */
    margin-left: 10px; /* Add some spacing between the logo and company name */
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh; /* Full viewport height */
    background-color: #212122; /* Apply main color to all sections */
    border-top: 2px solid #e74c3c; /* Add a top border between sections with sub color */
    border-bottom: 2px solid #e74c3c; /* Add a bottom border between sections with sub color */
}

.form-container,
.info-container {
    width: 60%; /* Sign-in section takes 60% width */
    height: 100%;
    padding: 20px;
    background-color: #fff; /* Apply sub color as an accent */
    color: #212122; /* Text color */
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #fff; /* Input background color */
    color: #212122; /* Input text color */
}

label {
    display: block;
    margin-bottom: 5px;
    width: 17%; /* Reduce the width of the labels in the form section */
    color: #212122; /* Label text color */
}

.remember-me {
    display: flex;
    align-items: center;
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
}

.info-text {
    font-size: 24px;
    margin-bottom: 20px;
}

.join-text {
    font-size: 16px;
    margin-bottom: 10px;
}

.register-link {
    color: #333;
    text-decoration: underline;
}
